{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Student Login Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css2/log/style2.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/bg.svg' %}">
		</div>
		<div class="login-content">
			
				<img src="{% static 'images/avatar.svg' %}">
				<form action="/index" method="POST">
					{% csrf_token %}
				<h2 class="title">Welcome !{{ex4.user_name}}</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" name="Username" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input" required>
            	   </div>
            	</div>
			
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
				<center><a href="{% url 'studentreg' %} ">Sign Up</a></center>
				<h3 style="color: brown;">{{msg}}</h3>
            </form>
			
        </div>
    </div>

    <script src="{% static 'js2/log/script.js' %}"></script>
</body>
</html>
